/* Default Stuff */

body {
  background-color: #595a61;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #6d6e75;
}

/* Header Stuff */

header {
  background-color: #2f3136;
  min-height: 88px;
  margin-bottom: 32px;
}
header h1 {
  font-family: "Arial";
  font-size: 16px;
  color: #bcbcc2;
  text-align: center;
  margin: 0;
  padding-top: 16px;
}
h2 {
  justify-content: center;
}
header nav {
  display: flex;
  justify-content: center;
}
header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}
header nav ul li a {
  font-family: Montserrat;
  color: #595a61;
  text-decoration: none;
  margin: 0 16px 0 0;
}
header nav ul li:last-child a {
  margin-right: 0;
}
header nav ul li a:hover {
  color: #6d6e75;
}

/* Footer Stuff */

footer {
  background-color: #2f3136;
  margin-top: auto;
  min-height: 80px;
}
footer h6 {
  font-family: "Arial";
  font-size: 8px;
  color: #bcbcc2;
  text-align: center;
  margin: 0;
  padding-top: 4px;
}
footer nav {
  display: flex;
  justify-content: center;
}
footer nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}
footer nav ul li a {
  color: #595a61;
  margin: 0 16px 0 0;
}

/* Flex Container and Item Stuff */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageBlock {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #2f3136;
  border-radius: 16px;
  max-width: 95%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.imageBlock {
  margin: auto;

}

.textBlock {
  display: flex;
  justify-content: center;
  flex: column;
  width: 75%;
}

.card {
  background-color: #595a61;
  color: #bcbcc2;
}

.card div{
  margin: -15px;
  margin-top: -20px;
  
}

.card a{
  margin-top: -20px;
  font-size: small;
}

form {
  width: 100%;
  margin-bottom: 25px;
}

form label {
  font-size: 18px;
  margin-bottom: 5px;
  color: #6d6e75;
}

form input[type="text"] {
  color: #2f3136;
  font-size: 16px;
  margin-bottom: 20px;
}

textarea {
  height: 125px;
}

/* Mosaic Formatting */

.mosaic {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 100vh;
}

.mosaic-item {
  position: relative;
  max-width: 32%;
  margin-bottom: 2%;
}

.mosaic-item:nth-child(3n + 1) {
  order: 1;
}
.mosaic-item:nth-child(3n + 2) {
  order: 2;
}
.mosaic-item:nth-child(3n) {
  order: 3;
}

.mosaic::before,
.mosaic::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

/* Format for PC and Tablet Stuff */

@media all and (min-width: 768px) {
  /* Header Stuff */

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    min-height: 64px;
  }

  header h1 {
    font-size: 16px;
    margin: 16px 0;
    padding-top: 6px;
  }

  header nav {
    margin-top: 4px;
  }

  header nav ul li a:hover {
    color: #6d6e75;
  }

  /* Footer Stuff */

  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
  }

  footer h6 {
    text-align: right;
  }

  /* Flex Container and Item Stuff */

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imageBlock {
    max-width: 75%;

  }

  .mosaic {
    height: 110vh;
  }
}

@media all and (min-width: 992px) {
  .mosaic {
    height: 137vh;
  }
}

@media all and (min-width: 1200px) {
  .mosaic {
    height: 158vh;
  }
}

@media all and (min-width: 1400px) {
  .mosaic {
    height: 184vh;
  }
  .textBlock {
    width: 50%;
  }
}